@font-face{
    font-family: Par;
    src: url(../fonts/Rubik-VariableFont_wght.ttf);
}
@font-face {
    font-family: Title;
    src: url(../fonts/Oswald-VariableFont_wght.ttf);
}
*{
    margin: 0;
    padding: 0;
}
*::selection{
    color: white;
    background: none;
}
h1,h2,h3,h4,h5{
    font-family: Title;
}
a{
    color: rgb(38, 38, 38);
    font-size: 26px;
    text-decoration: none;
    font-weight: 400;
    transition-duration: 0.5s;
}
a,p{
    font-family: Par;
}
.preloader,.links,.dropdown-profile,.modal-top,.closeModal,.entryForm,.slider>button,.images,.showForm,.dropdown-links,.showModal,.title{
    display: flex;
}
.preloader,header,.bgModal,.slider,.image,footer{
    width: 100%;
}
.preloader,header,.links,.modal-top{
    align-items: center;
}
.spinner,.profile,.closeModal,.slider>button,.buttonHamburger{
    border-radius: 50%;
}
.preloader,header{
    position: fixed;
}
.dropdown-profile,.bgModal,.slider>button{
    position: absolute;
}
.profile,.dropdown-profile>a,.closeModal,.slider>button,.buttonHamburger{
    border: none;
}
.profile:hover,.profile:focus,.modal-top>div>p:hover,.closeModal:hover,.slider>button:hover{
    cursor: pointer;
}
.preloader{
  top: 0;
  left: 0;
  height: 100%;
  background-color: #2A5C8F;
  z-index: 100;
  justify-content: center;
  transition: opacity 0.5s;
}
.spinner{
  width: 50px;
  height: 50px;
  border-top: 5px solid #FF6B35;
  animation: spin 1s linear infinite;
}
.hidden{
    display: none;
    animation: none;
}
.notScroll{
    overflow: hidden;
}
.showForm{
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}
.up{
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 20px;
}
header,.links{
    flex-flow: row nowrap;
}
header{
    background-color: #59a0e7;
    top: 0;
    transition-duration: 0.6s;
    z-index: 15;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.logo{
    margin: 10px 0 8px 30px;
}
.links{
    justify-content: space-between;
    width: 355px;
    margin: 0 0 0 30px;
}
a:hover,a:focus{
    color: #FF6B35;
}
a:active{
    color: white;
}
.logo>img{
    max-width: 200px;
    max-height: 200px;
}
.entry{
    grid-column: 12;
}
.profile{
    background-color: rgba(255, 107, 53, 0);
    transition-duration: 0.6s;
}
.profile>img,.profile{
    max-width: 56px;
    max-height: 56px;
}
.profile:hover,.profile:focus{
    background-color: white;
}
.profile:active{
    background-color: #FF6B35;
}
.dropdown-profile{
    border: 1px solid #2b2b2ba1;
    border-radius: 15px;
    background-color: white;
    width: 190px;
    height: 90px;
    right: 0px;
    top: 110px;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    opacity: 0;
    transition-duration: 0.7s;
    z-index: 10;
}
.dropdown-profile>a{
    border-radius: 20px;
    transition-duration: 0.8s;
}
.dropdown-profile>a:active,.dropdown-profile>a::selection{
    background-color: #FF6B35;
}
.buttonHamburger{
    grid-column:11;
    transform: rotate(90deg);
    display: none;
}
.buttonHamburger,.buttonHamburger>img{
    max-width: 30px;
    max-height: 30px;
}
.dropdown-links{
    background-color: white;
    border: 1px solid #2b2b2ba1;
    border-radius: 10px;
    position: absolute;
    top: 100px;
    left: 410px;
    flex-direction: column;
    text-align: center;
    opacity: 0;
    transition-duration: 0.6s;
}
.parentModal{
    position: absolute;
    top: 0;
    z-index: 15;
    width: 65%;
    height: 400px;
    transition-duration: 0.6s;
}
.showModal{
    justify-content: flex-end;
}
.bgModal{
    height: 2000px;
    background-color: rgba(17, 17, 17, 0.489);
    z-index: 14;
}
.modal{
    background-color: white;
    width: 400px;
    height: 250px;
    border: 1px solid rgba(30, 30, 30, 0.533);
    border-radius: 20px;
    z-index: 2;
    opacity: 0;
    transition-duration: 0.6s;
}
.modal-top{
    margin: 10px 0 0 0;
}
.modal-top>div>p{
    font-size: 24px;
}
.modalEntry{
    margin: 0 20px;
}
.closeModal{
    position: relative;
    right: -110px;
    transition-duration: 0.6s;
}
.closeModal:hover{
    background-color: #FF6B35;
}
.entryForm{
    height: 120px;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    margin: 40px 0 0 0;
    transition-duration: 0.6s;
}
.inputPadding{
    padding: 0 0 0 7px;
}
.entryForm>input{
    height: 30px;
    border: 1px solid rgba(30, 30, 30, 0.533);
    border-radius: 7px;
}
.entryForm>input:last-child{
    transition-duration: 0.6s;
    background-color: #FF6B35;
}
.entryForm>input:last-child:hover{
    background-color: #59a0e7;
    color: white;
    cursor: pointer;
}
.registrationForm{
    height: 150px;
    margin: 20px 0 0 0;
    transition-duration: 0.6s;
}
.registrationForm>input{
    height: 30px;
    border: 1px solid rgba(30, 30, 30, 0.533);
    border-radius: 7px;
}
.registrationForm>input:last-child{
    transition-duration: 0.6s;
    background-color: #FF6B35;
}
.registrationForm>input:last-child:hover{
    background-color: #59a0e7;
    color: white;
    cursor: pointer;
}
.closeModal>img{
    max-width: 30px;
    max-height: 30px;
}
.slider{
    background-color: crimson;
    height: 800px;
    margin: 110px 0 0 0;
    overflow: hidden;
}
.slider>button{
    top: 50%;
    transition-duration: 0.6s;
}
.slider>button:hover{
    background-color: #FF6B35;
}
.slider>button>img{
    max-width: 30px;
    max-height: 30px;
}
.previous{
    transform: rotate(180deg);
    left: 50px;
}
.next{
    right: 50px;
}
.images{
    width: 5615px;
    transition-duration: 0.6s;
}
.image{
    height: 800px;
}
.image:first-child{
    background-color: #2A5C8F;
}
.image:nth-child(2){
    background-color: #96dc91;
}
.image:last-child{
    background-color: darkred;
}
.title{
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 22px;
}
footer{
    background-color: rgb(55, 165, 156);
    height: 126px;
    position: static;
    bottom: 0;
}
@media screen and (max-width:810px) {
    header{
        grid-template-columns: repeat(6, 1fr);
    }
    .links{
        display: none;
    }
    .buttonHamburger{
        display: flex;
        grid-column: 5;
    }
    .entry{
        grid-column: 6;
    }
    .parentModal{
        width: 80%;
    }
}
@keyframes spin{
    0% { 
        transform: rotate(0deg); 
    }
    100% { 
        transform: rotate(360deg); 
    }
}